language: ruby
bundler_args: --without debug extra
rvm:
  - 1.9.2
  - 1.9.3
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
  - 1.8.7
  - ree
notifications:
  email:
    recipients:
      - i@nukshuk.io
    on_success: change
    on_failure: always
